#item{
    position: relative;
    width: 500px;
    height: auto;
    padding: 20px 20px; /*위아래쪽 왼오른쪽*/
    margin: auto;
    /* border: 1px solid red; */
}
/* .over{
    position: absolute;
    left: 30px;
    bottom: 30px;
} */

/* position 다시 복습하기 */